extends ../layout
include ../navigation

block body
    div.main-wr.container.clearfix
        div.sidemenu
            +navigation
        div.content
            h1 Colour Palette

            h2 Primary Palette

            div.colors-wrapp.clearfix

                - var colors = [{variable: 'brand-primary', value: '#2780e3'},{variable: 'brand-success', value: '#3fb618'},{variable: 'brand-info', value: '#9954bb'},{variable: 'brand-warning', value: '#ff7518'},{variable: 'brand-danger', value: '#ff0039'}]
                    each color in colors
                        div.color-card
                            label(style='background-color:' + color.value).color-inp-lbl
                                input(type='text' value=color.value placeholder='add new').color-inp
                            label
                                input(type='text' value=color.variable placeholder='add new').color-var

                div.color-card
                    label.color-inp-lbl
                        input(type='text' placeholder='#000000').color-inp
                    label
                        input(type='text' placeholder='add new').color-var

                div.color-card
                    a(href="javascript:void(0);").color-inp-btn +


            h2 Secondary Palette
            div.colors-wrapp.clearfix
                - var secondaryColors = [{variable: '', value: ''},{variable: '', value: ''},{variable: '', value: ''},{variable: '', value: ''}]
                    each secondaryColor in secondaryColors
                        div.color-card
                            label(style='background-color:' + secondaryColor.value).color-inp-lbl
                                input(type='text' value=secondaryColor.value placeholder='#000000').color-inp
                            label
                                input(type='text' value=secondaryColor.variable placeholder='add new').color-var

                    div.color-card
                        a(href="javascript:void(0);").color-inp-btn +



        div.content
            h1 Fonts

            h2 Font Family


            div.fonts-wrapp.clearfix
                - var fontFamilies = [{variable: 'primary-font-family', value: '"Arial"'},{variable: '', value: ''}]
                    each fontFamily in fontFamilies
                        div.font-family-card
                            label
                                input(type='text' value=fontFamily.value placeholder='"Arial"').font-inp
                            label
                                input(type='text' value=fontFamily.variable  placeholder='add new').color-var

                    div.font-family-card.font-add-btn
                        a(href="javascript:void(0);") +

                label Main Font
                    input(type='text' placeholder='Arial')

                label Secondary Font
                    input(type='text' placeholder='Helvetica')

                label Icon Font
                    input(type='text' placeholder='Font Awesome')

                a(href="javascript:void(0);") Add new

            h2 Font Size

            label Heading 1 (h1)
                input(type='text' value='@font-size-h1')
                input(type='text')

            label Heading 2 (h2)
                input(type='text')

            label Heading 3 (h3)
                input(type='text')

            label Title Size
                input(type='text')

            h2 Text Colors

            label Main text color
                input(type='text')

            label Muted text color
                input(type='text')


